* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.3472));
    min-height: 0vw;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

body {
  min-height: 100%;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10%;
  margin: 0;
  background-color: #111111;
  color: #dddddd;
  font-weight: 300;
}

body > * {
  flex-shrink: 0;
}

h1 {
  margin: 0.8em 0 0.2em;
}

.job-description {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 0 0.6em;
  color: #ff2300;
}

.content {
  max-width: 55rem;
}

a {
  color: #ff2300;
}

.img_container {
  border-radius: 50%;
  overflow: hidden;
  width: 9rem;
  max-width: 50vw;
}

.img_container > img {
  display: block;
  width: 100%;
}

.icon_container img {
  height: 2rem;
  margin: 1rem;
}

.icon_container > a {
  text-decoration: none;
  display: inline-block;
  opacity: 0.6;
}

.icon_container > a:hover,
.icon_container > a:focus {
  opacity: 1;
}
